#homePage #landingSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Prata";
  font-weight: 500;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--navbar-background);
}
#homePage #landingSec > img {
  width: 100%;
  height: calc(100% - 155px) !important;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom left;
     object-position: bottom left;
}
#homePage #landingSec > img.small_screen_img {
  -o-object-position: center center !important;
     object-position: center center !important;
}
#homePage #landingSec #lndQt {
  min-width: 100% !important;
  border-top: 2px solid var(--navbar-before-color);
  border-bottom: 2px solid var(--navbar-before-color);
}
#homePage #landingSec #lndQt div {
  font-family: "Prata";
  font-weight: 400 !important;
  color: #fff;
  min-width: 100% !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#homePage #landingSec #lndQt div .textQt {
  align-items: start !important;
  padding-bottom: 0px !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
  gap: 0px;
}
#homePage #landingSec #lndQt div .textQt p {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
#homePage #marelandSect {
  height: 75vh;
  min-height: 600px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--navbar-background);
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
#homePage #marelandSect::before {
  content: "";
  display: flex;
  height: 50%;
  width: 55%;
  border-top: 2px solid var(--navbar-before-color);
  border-right: 2px solid var(--navbar-before-color);
  position: absolute;
  right: calc(7.5% - 6px);
  top: 34px;
}
#homePage #marelandSect::after {
  content: "";
  display: flex;
  height: 20%;
  width: 35%;
  border-top: 2px solid var(--navbar-before-color);
  border-right: 2px solid var(--navbar-before-color);
  position: absolute;
  right: calc(7.5% - 12px);
  top: 28px;
}
#homePage #marelandSect > div#marelandCont {
  width: 85%;
  display: flex;
  background-color: #FFF;
  padding: 40px;
  justify-content: center;
  box-shadow: inset 0px 0px 6px 6px rgba(0, 0, 0, 0.3803921569);
  position: relative;
}
#homePage #marelandSect > div#marelandCont::before {
  content: "";
  display: flex;
  height: 55%;
  width: 55%;
  border-bottom: 2px solid var(--navbar-before-color);
  border-left: 2px solid var(--navbar-before-color);
  position: absolute;
  left: -8px;
  bottom: -8px;
}
#homePage #marelandSect > div#marelandCont::after {
  content: "";
  display: flex;
  height: 20%;
  width: 30%;
  border-bottom: 2px solid var(--navbar-before-color);
  border-left: 2px solid var(--navbar-before-color);
  position: absolute;
  left: -14px;
  bottom: -14px;
}
#homePage #marelandSect > div#marelandCont #leftTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 50%;
}
#homePage #marelandSect > div#marelandCont #leftTxt > div {
  display: flex;
  justify-content: center;
  align-items: start;
}
#homePage #marelandSect > div#marelandCont #leftTxt > div > p:not(.sctnHpTitles) {
  text-align: justify;
  text-wrap: balance;
}
#homePage #marelandSect > div#marelandCont #leftTxt .barSep {
  content: "";
  min-width: 4px;
  height: 95%;
  background-color: var(--navbar-before-color);
  z-index: 1;
}
#homePage #marelandSect > div#marelandCont #picCont {
  width: 50%;
  height: 100%;
  padding-left: 40px;
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 15px;
}
#homePage #marelandSect > div#marelandCont #picCont div.hlfPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 50%;
  height: 90%;
}
#homePage #marelandSect > div#marelandCont #picCont div.hlfPic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#homePage #marelandSect > div#marelandCont #picCont div.hlfPic img.marelandImg1 {
  height: 40%;
}
#homePage #marelandSect > div#marelandCont #picCont div.hlfPic img.marelandImg2 {
  flex: 1;
}
#homePage section#rclmtnSect {
  background-color: var(--navbar-background);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 80px !important;
  position: relative;
  height: 75vh;
  min-height: 600px;
}
#homePage section#rclmtnSect::before {
  content: "";
  display: flex;
  height: 50%;
  width: 55%;
  border-top: 2px solid var(--navbar-before-color);
  border-right: 2px solid var(--navbar-before-color);
  position: absolute;
  right: calc(7.5% - 6px);
  top: 34px;
}
#homePage section#rclmtnSect::after {
  content: "";
  display: flex;
  height: 20%;
  width: 35%;
  border-top: 2px solid var(--navbar-before-color);
  border-right: 2px solid var(--navbar-before-color);
  position: absolute;
  right: calc(7.5% - 12px);
  top: 28px;
}
#homePage section#rclmtnSect div#rclmtnsCont {
  background-color: #FFF;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.3803921569);
  position: relative;
}
#homePage section#rclmtnSect div#rclmtnsCont::before {
  content: "";
  display: flex;
  height: 55%;
  width: 55%;
  border-bottom: 2px solid var(--navbar-before-color);
  border-left: 2px solid var(--navbar-before-color);
  position: absolute;
  left: -8px;
  bottom: -8px;
}
#homePage section#rclmtnSect div#rclmtnsCont::after {
  content: "";
  display: flex;
  height: 20%;
  width: 30%;
  border-bottom: 2px solid var(--navbar-before-color);
  border-left: 2px solid var(--navbar-before-color);
  position: absolute;
  left: -14px;
  bottom: -14px;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnPicsSide {
  border: none;
  background-color: #fff;
  padding: 20px;
  margin-right: 35px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnPicsSide .carouselContent {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3764705882);
  height: 95%;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnPicsSide .carouselContent .carouselSinglePic {
  -o-object-fit: cover;
     object-fit: cover;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnPicsSide .carouselPreview {
  border: 1px solid var(--navbar-before-color);
  z-index: 7;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnPicsSide .carouselPreview .allPics {
  height: 100%;
  padding: 5px;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnPicsSide .carouselPreview .allPics img {
  height: 100%;
  min-height: 100%;
  border: 1px solid transparent;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnPicsSide .carouselPreview .allPics img.active {
  border: 1px solid var(--navbar-background);
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnPicsSide .carouselPreview .previewScrollIcons {
  border: 0px;
  background-color: #FFF;
  color: var(--navbar-before-color);
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnDescr {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnDescr .barSep {
  height: 90%;
  width: 4px;
  background-color: var(--navbar-before-color);
  position: absolute;
  left: -15px;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnDescr #rclmtnDescrText {
  width: 95%;
}
#homePage section#rclmtnSect div#rclmtnsCont #rclmtnDescr #rclmtnDescrText p {
  text-align: justify;
  text-wrap: balance;
}

@media only screen and (max-width: 900px) {
  #smallScreenMenu {
    z-index: 8;
  }
  .page#homePage {
    margin-top: 0px;
  }
  .page#homePage #landingSec {
    background-color: var(--navbar-background);
    padding-top: 30px !important;
    height: 100vh;
  }
  .page#homePage #landingSec > img {
    -o-object-position: bottom left;
       object-position: bottom left;
    -o-object-fit: cover;
       object-fit: cover;
    border-bottom: 3px solid var(--navbar-before-color) !important;
    border-top: 3px solid var(--navbar-before-color) !important;
  }
  .page#homePage #landingSec #lndQt {
    justify-content: center;
    align-items: center;
  }
  .page#homePage #landingSec #lndQt div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
    gap: 10px;
  }
  .page#homePage #landingSec #lndQt div .textQt {
    margin-left: 0px !important;
    justify-content: center;
    align-items: start;
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
    gap: 0px;
  }
  .page#homePage #landingSec #lndQt div .textQt p {
    font-size: 17px !important;
  }
  .page#homePage #rclmtnDescr .btn-1 {
    margin-bottom: 15px;
  }
  .page#homePage .previewScrollIcons {
    display: none;
  }
}
@media only screen and (max-width: 1250px) {
  .page#homePage {
    margin-top: 0px;
  }
  .page#homePage #marelandSect::before, .page#homePage #rclmtnSect::before {
    right: calc(1.5% + 6px);
    top: 34px;
  }
  .page#homePage #marelandSect::after, .page#homePage #rclmtnSect::after {
    right: 1.5%;
    top: 28px;
  }
  .page#homePage #marelandCont, .page#homePage #rclmtnsCont {
    width: 95% !important;
  }
}
@media only screen and (max-width: 850px) {
  .page#homePage {
    margin-top: 0px;
  }
  .page#homePage #marelandSect, .page#homePage #rclmtnSect {
    height: -moz-fit-content !important;
    height: fit-content !important;
    justify-content: center !important;
  }
  .page#homePage #marelandCont, .page#homePage #rclmtnsCont {
    width: 90% !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    flex-direction: column-reverse !important;
    padding: 20px !important;
  }
  .page#homePage #leftTxt {
    width: 100% !important;
    flex-direction: column-reverse;
    text-align: left !important;
  }
  .page#homePage #leftTxt > div {
    padding-right: 0px !important;
  }
  .page#homePage #leftTxt .barSep {
    margin-top: 10px;
    width: 100% !important;
    height: 3px !important;
  }
  .page#homePage #picCont {
    width: 100% !important;
    height: 90px !important;
    padding-left: 0px !important;
    box-sizing: border-box;
    gap: 2px !important;
  }
  .page#homePage #picCont .hlfPic {
    flex-direction: row !important;
    aspect-ratio: 1/1;
    height: 80px;
    gap: 5px !important;
    padding-left: 2px;
    padding-right: 5px;
  }
  .page#homePage #picCont .hlfPic img {
    width: 50% !important;
    max-height: 100px;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    -o-object-position: center center;
       object-position: center center;
  }
  .page#homePage #picCont .hlfPic img.marelandImg1, .page#homePage #picCont .hlfPic img.marelandImg2 {
    -o-object-fit: cover !important;
       object-fit: cover !important;
    width: 50% !important;
    height: 100% !important;
  }
  .page#homePage #rclmtnsCont #rclmtnDescr {
    width: 100% !important;
    padding: 0px !important;
  }
  .page#homePage #rclmtnsCont #rclmtnDescr #rclmtnDescrText {
    width: 100% !important;
  }
  .page#homePage #rclmtnsCont #rclmtnDescr #rclmtnDescrText p {
    text-align: left !important;
  }
  .page#homePage #rclmtnsCont #rclmtnDescr .barSep {
    display: none;
  }
  .page#homePage #rclmtnsCont .carouselFrame {
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100% !important;
    padding: 0% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .page#homePage #rclmtnsCont .carouselFrame .carouselContent {
    height: 300px !important;
    width: 100% !important;
  }
  .page#homePage #rclmtnsCont .carouselPreview {
    width: 100% !important;
  }
}/*# sourceMappingURL=homepage.css.map */