.page#aboutPierpa {
  display: flex;
  justify-content: center !important;
}
.page#aboutPierpa #aboutPageSec {
  align-self: center;
  width: 80%;
  text-align: justify;
  border: 2px solid var(--navbar-before-color);
  position: relative;
}
.page#aboutPierpa #aboutPageSec::before {
  content: "";
  display: flex;
  height: 30%;
  width: 75%;
  border-top: 2px solid var(--navbar-before-color);
  border-right: 2px solid var(--navbar-before-color);
  position: absolute;
  right: -7px;
  top: -7px;
}
.page#aboutPierpa #aboutPageSec::after {
  content: "";
  display: flex;
  height: 20%;
  width: 55%;
  border-top: 2px solid var(--navbar-before-color);
  border-right: 2px solid var(--navbar-before-color);
  position: absolute;
  right: -12px;
  top: -12px;
}
.page#aboutPierpa #aboutPageSec #aboutMainDiv {
  position: relative;
}
.page#aboutPierpa #aboutPageSec #aboutMainDiv::before {
  content: "";
  display: flex;
  height: 55%;
  width: 55%;
  border-bottom: 2px solid var(--navbar-before-color);
  border-left: 2px solid var(--navbar-before-color);
  position: absolute;
  left: -37px;
  bottom: -37px;
  z-index: -1;
}
.page#aboutPierpa #aboutPageSec #aboutMainDiv::after {
  content: "";
  display: flex;
  height: 20%;
  width: 30%;
  border-bottom: 2px solid var(--navbar-before-color);
  border-left: 2px solid var(--navbar-before-color);
  position: absolute;
  left: -42px;
  bottom: -42px;
  z-index: -1;
}
.page#aboutPierpa #aboutPageSec #pierpaoloPic {
  height: 250px;
  background: #ffffff;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.25);
  z-index: 10;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
}
.page#aboutPierpa #aboutPageSec .aboutText {
  background: rgb(255, 255, 255);
  text-align: justify;
  line-height: 22px;
}
.page#aboutPierpa #aboutPageSec .aboutText td.sctnHpTitles::after {
  height: 0px !important;
}
.page#aboutPierpa #aboutPageSec .aboutText a {
  color: var(--navbar-before-color) !important;
  z-index: 22;
}
.page#aboutPierpa #aboutPageSec table .table_row td {
  padding-bottom: 15px;
}
.page#aboutPierpa #aboutPageSec table .table_row td p {
  margin: 0px;
}
.page#aboutPierpa #aboutPageSec table .table_row td:first-child {
  vertical-align: top;
  text-align: left;
  font-weight: 500;
}
.page#aboutPierpa #aboutPageSec table .table_row td:last-child {
  vertical-align: top;
  text-align: left;
}

@media screen and (max-width: 1250px) {
  .page#aboutPierpa {
    padding-bottom: 60px !important;
  }
  .page#aboutPierpa #aboutPageSec {
    padding: 10px !important;
    width: 100%;
  }
  .page#aboutPierpa #aboutPageSec #aboutMainDiv {
    position: relative;
  }
  .page#aboutPierpa #aboutPageSec #aboutMainDiv::before {
    left: -17px;
    bottom: -17px;
    z-index: -1;
  }
  .page#aboutPierpa #aboutPageSec #aboutMainDiv::after {
    left: -22px;
    bottom: -22px;
    z-index: -1;
  }
}
@media screen and (min-width: 751px) {
  #pierpaoloPic {
    height: 250px;
    margin-bottom: 0px !important;
  }
}
@media screen and (max-width: 750px) {
  .aboutText {
    text-align: left !important;
  }
  #pierpaoloPic {
    height: 250px;
    width: 100%;
    margin-right: 0px;
  }
}/*# sourceMappingURL=aboutDeGiosa.css.map */