.page {
    box-sizing: border-box;
    margin-top: var(--navbar-height);
    padding: var(--padding-lg);
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100% !important;
    letter-spacing: 0.01em;

    .textSand {
        color: var(--navbar-before-color);
    }

    .tempFolder {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sctnHpTitles { 
        color: #0F4C81;
        font-size: 28px;
        position: relative;
        width: fit-content;
        &::after {
            content: '';
            display: flex;
            height: 2px;
            width: 105%;
            background-color: var(--navbar-before-color);
            position: absolute;
            bottom: 1px;
            left: -2.5%;
            
        }
    }

    .btn-1 {
        appearance: none;
        border: 1px solid var(--navbar-before-color) !important;
        background-color: #0f4c81;
        border-width: 0;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: .05em;
        opacity: 1;
        padding: 10px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
        z-index: 2;
        box-shadow: 5px 5px 5px #00000046;
        p {
            padding: 0px !important;
            margin: 0px;
        }
        &::before {
            animation: opacityFallbackOut .5s step-end forwards;
            backface-visibility: hidden;
            background-color: var(--navbar-before-color);
            clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transform: translateZ(0);
            transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
            width: 100%;
            z-index: 0;
        }
        &::after {
            background-color: #FFFFFF;
            z-index: 1;
        }
        &:hover {
            color: var(--navbar-background);
            border: 1px solid var(--navbar-background) !important;
            &::before {
                animation: opacityFallbackIn 0s step-start forwards;
                clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
                z-index: -1;
            }
        }
        &:active {
            box-shadow: 5px 5px 5px #ffffff61;
        }
        span {
            z-index: 1;
            position: relative;
        }
    }
    .btn-2 {
        background-color: transparent;
        border-radius: 0px;
        border: 1px solid #000000;
        padding: 5px 15px;
        display: flex;
        width: fit-content;
        box-shadow: 3px 3px #000000;
        a {
            text-decoration: none;
            color: #000000;
            font-size: 14px;
            font-family: var(--body-App-fontFamily);
            font-weight: 500;
        }
        &:hover {
            box-shadow: none;
            background-color: #000000;
            a {
                color: #FFFFFF;
            }
        }
    }

    #MarelandPageSec {
        align-self: center;
    }
}

@media only screen and (max-width: 700px) {
    .page {
        margin-top: 0px;
    }
}