* {
  box-sizing: border-box;
}

.carouselFrame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  /**  Section containing the "active image" and eventually the folder buttons*/
  /** Preview section for all the pictures available*/
}
.carouselFrame .carouselContent {
  display: flex;
  height: 100%;
  width: 100%;
  /** Right section for button folders*/
  /** Picture section for the "active image" and eventually the arrows*/
}
.carouselFrame .carouselContent .multiFoldersBtnsSection {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: rgb(183, 238, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carouselFrame .carouselContent .multiFoldersBtnsSection .carouselBtnFold:not(:first-child) {
  margin-top: 10px;
}
.carouselFrame .carouselContent .multiFoldersBtnsSection .carouselBtnFold.active {
  filter: brightness(0.5);
}
.carouselFrame .carouselContent .carouselPictures {
  width: calc(70% - 20px);
  box-sizing: border-box;
  margin-left: 20px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carouselFrame .carouselContent .carouselPictures.fullWidth {
  width: 100%;
  margin-left: 0px;
}
.carouselFrame .carouselContent .carouselPictures .carouselScrollIcon {
  position: absolute;
  top: 50%;
  z-index: 2;
}
.carouselFrame .carouselContent .carouselPictures .carouselScrollIcon.left {
  left: 15px;
}
.carouselFrame .carouselContent .carouselPictures .carouselScrollIcon.right {
  right: 15px;
}
.carouselFrame .carouselContent .carouselPictures .animatedPic {
  height: 100%;
  width: 100%;
  position: absolute; /* Ensures it covers the parent container */
  top: 0;
  left: 0;
}
.carouselFrame .carouselContent .carouselPictures .animatedPic .carouselSinglePic {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.carouselFrame .carouselContent .carouselPictures .picCaption {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
}
.carouselFrame .carouselPreview {
  margin-top: 10px;
  width: calc(90% - 10px);
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
}
.carouselFrame .carouselPreview .previewScrollIcons {
  position: absolute;
  height: 80px;
  padding: 0px !important;
  cursor: pointer;
  align-self: center;
}
.carouselFrame .carouselPreview .previewScrollIcons.right {
  right: 20px;
}
.carouselFrame .carouselPreview .previewScrollIcons.left {
  left: 20px;
}
.carouselFrame .carouselPreview .allPics {
  height: 120px;
  display: flex;
  /* Scrollbar styles */
}
.carouselFrame .carouselPreview .allPics img {
  width: 100px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: all;
  cursor: pointer;
}
.carouselFrame .carouselPreview .allPics img:hover {
  cursor: pointer;
}
.carouselFrame .carouselPreview .allPics img.active {
  border: 1px solid red;
}
.carouselFrame .carouselPreview .allPics img:not(:last-child) {
  margin-right: 10px;
}
.carouselFrame .carouselPreview::-webkit-scrollbar {
  height: 0px;
}
.carouselFrame .carouselPreview::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}/*# sourceMappingURL=carousel.css.map */