.footer {
    box-sizing: border-box;
    color: var(--white-text);
	border-top: 2px solid var(--navbar-before-color);
	background-color: var(--navbar-background);
	padding: 25px;
	width: 100%;
	position: relative;
	.boatImgs {
		width: 100px;
		position: absolute;
		top: -52px;
		right: 40px;
		transform: rotateY(0.5turn);
	}
	#logoFooter {
		align-items: center;
		justify-content: space-between;
		img {
			max-width: 300px !important;
			&#olomouc {
				max-width: 270px !important;
			}
		}
	}
	p:not(.webLink) {
		text-align: justify;
		width: 50%;
		margin-bottom: 0px !important;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media only screen and (min-width: 701px) and (max-width: 900px) { 
	#logoFooter {
		p {top: 90px !important;}
	}
}
@media only screen and (max-width: 700px) { 
	#logoFooter {
		p {
			position: absolute;
			top: 60px !important;
		}
	}
}
@media only screen and (max-width: 900px) {
	.footer {
		height: 230px !important;
		box-sizing: border-box;
		position: relative;
		padding: 15px;
		#logoFooter {
			position: relative;
			p {
				font-size: 13px !important;
				position: absolute;
				width: 100% !important;
				padding: 0px !important;
				margin: 15px 0px !important;
			}
			img {
				width: 47% !important;
				position: absolute;
				top: 20px !important;
				left: 2px;
			}
			div {
				position: absolute;
				padding-bottom: 0px !important;
				top: 5px !important;
				right: 2px;
				width: 47% !important;
				img#olomouc {
					width: 100% !important;
					top: 2px !important;
					left: 2px;
				}
			}
		}
		p:not(.footerDescription) {
			position: absolute;
			bottom: 15px;
			left: 0px;
			padding: 0px !important;
			margin: 0px !important;
			width: 100%;
		}
	}
}