:root {
    --primary-font-color: #000000;
    --page-primary-backgroung: #d5daf6;
    --white-text: #ffffff;

    /*==== GENERAL ====*/
    --padding-xs: 5px;
    --padding-sm: 10px;
    --padding-md: 20px;
    --padding-lg: 30px;
    --padding-xl: 40px;
    --h-100: 100;


    /*==== NAVIGATION BAR ====*/
    --navbar-height: 75px;
    --navbar-background: #1d364c;
    --navbar-color: #ffffff;
    --navbar-fontsize: 22px;
    --navbar-fontsize-smMenu: 25px;
    --navbar-fontFamily: 'Playfair Display';
    --navbar-fontWeight: 600;
    --navbar-before-color: #CDAA7F;

    /*==== BODY ====*/
    --body-App-fontFamily: 'Prata';

    /*==== FOOTER ====*/
    --footer-height: 60px;
}